<center>
    <div class="justify-content-center vh-100 bg-primary">
        <h1 class="display-1 fw-bold text-white">404</h1>
        <p>La pagina no existe</p>
        <a class="text-white" href="/">Volver al inicio</a>
    </div>
</center>