<h1>Server con Express y Handlebars</h1>

<h2>Hola {{nombre}}. Bienvenido al server!</h2>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/main.js"></script>